<section class="footer">
  <div class="container-fluid footer-upper">
    <div class="row">
          <div class="col-6 col-sm-3">
              <p class="footer-upper-row">
               <a href="/first-time-buyer-mortgages">First Time Buyer</a> 
              </p>
            </div>
            <div class="col-6 col-sm-3">
              <p class="footer-upper-row">
               <a href="/self-build-mortgages">Self-Build</a> 
              </p>
            </div>
            <div class="col-6 col-sm-3">
              <p class="footer-upper-row">
               <a href="/re-mortgage-advice">Re-mortgage</a> 
              </p>
            </div>
            <div class="col-6 col-sm-3">
              <p class="footer-upper-row">
              <a href="/buy-to-let-mortgages">Buy to Let</a>  
              </p>
            </div>
    </div>
  </div>

  <div class="container-fluid footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="footer-main-warning">
            <p>
                Think carefully before securing other debts against your home. Your home or property may be repossessed if you do not keep up repayments on your mortgage.
            </p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="footer-main-advice">
           <p>
              We're here to offer our customers excellent fee free mortgage advice. Our expert advisers will help you secure the best mortgage deal whether you're a first time buyer, remortgaging your home, buying to let or moving up the property ladder. We'll help you throughout the mortgage process – no hidden costs or surprises, just straightforward, honest, mortgage advice.
           </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 footer-main-icons-col">
          <div class="footer-main-icons">
             <a href="https://www.facebook.com/Mortgagesnorthernireland-746723952330508"><i class="fab fa-facebook-f"></i></a> 
        </div>
        <div class="footer-main-icons ml-2">
              <i class="fab fa-google-plus-g"></i>
        </div>
        <div class="footer-main-icons ml-2">
              <i class="fab fa-twitter"></i>
        </div>
        <div class="footer-main-icons ml-2">
             <a href="https://www.linkedin.com/in/richard-aston-25340718b/"><i class="fab fa-linkedin-in"></i></a> 
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-12">
        <p class="footer-main-bottom">Mortgages Northern Ireland is a trading style of DMC Financial Services LTD, registered in Northern Ireland at 67 Bridge Street, Portadown BT63 5AA ( number NI616674).
            <br><br>
             Mortgages Northern Ireland is a trading style of DMC Financial Services who is an Appointed Representative of PRIMIS Mortgage Network. PRIMIS Mortgage Network is a trading name of First Complete Ltd which is authorised and regulated by the Financial Conduct Authority for mortgages, protection insurance and general insurance products.
        </p>
    </div>
  </div>

</div>

  
</section>

<section class="scrolling-footer">
    <div class="scroll-contact-outter">
      <div class="container scroll-contact-inner">
        <div class="scroll-contact-inner-buttons">
            <a href="" class="cusbutton-green" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
            <span class="cusbutton-orange">Call Free <a onclick="return gtag_report_conversion('tel:08009756476');" href="tel:08009756476">0800 975 6476</a></span>
        </div>
      </div>
    </div>
</section>

  <!-- Modal -->
  <div class="modal fade" id="modal-enquire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quick Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      <form class="contact-us-page-form mt-3" id="main-form" method="POST" action="">
          <div class="row">
            <div class="col">
                <div class="message">Thank you for your Enquiry we will contact you shortly.</div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-md-6">
                  <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">
              </div>
              <div class="col-xs-12 col-md-6">
                  <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <label for="lastName">email address</label>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Your email">
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Contact Number">Contact Number</label>
                    <input type="text" class="form-control" name="contactNumber" id="contactNumber" placeholder="Contact Number">
                </div>
              </div>
            <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label for="message">Your Message</label>
                      <textarea class="form-control" name="message" id="message" rows="6"></textarea>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="modal-buttons-outter">
                    <button type="submit" id="form-action" class="btn btn-success" onclick="return gtag_report_conversion">Send</button>
                </div>
              </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="/js/custom-fixed-bottom.js"></script>
<script src="/js/form-action.js"></script>





<script>
 function initMap(){
  //map options
   var options = {
     zoom: 11,
     center:{
       lat: 54.4255129068047,
       lng: -6.438732861752216
     }
   }

   //New Map
   var map = new google.maps.Map(document.querySelector(".map"), options);

   //add marker
   var marker = new google.maps.Marker({
     position:{lat: 54.4255129068047, lng: -6.438732861752216},
     map: map
   });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz4WUpKJF-ZnlkR3kyFuiBn1vd2-vcrZQ&callback=initMap"async defer></script>


<!--Script Tags for Reviews.co.uk-->

<!--Home Page Carousel widget-->
<script src="https://widget.reviews.co.uk/rich-snippet-reviews-widgets/dist.js" type="text/javascript"></script>
<script>
        richSnippetReviewsWidgets("carousel-widget", {
            store: "mortgagesnorthernireland-com",
            primaryClr: "#f47e27",
            neutralClr: "#cccccc",
            reviewTextClr: "#333333",
            widgetName: "carousel",
            layout: "fullWidth",
            numReviews: 40,
            contentMode: "company",
            hideDates: false
        });
</script>
<!--Home Page Carousel widget-->

<!--Floating Page widget-->
<link rel="stylesheet" type="text/css" href="https://widget.reviews.co.uk/floating-widget/css/dist.css">
<script src="https://widget.reviews.co.uk/rich-snippet-reviews-widgets/dist.js" type="text/javascript"></script>

<script>
    window.onload = function() {
        richSnippetReviewsWidgets({
            store: "mortgagesnorthernireland-com",
            primaryClr: "#f47e27",
            widgetName: "floating-widget",
            numReviews: 40,
            floatPosition: "left",
            contentMode: "company",
            hideDates: false
        });
    };
</script>
<!--Floating Page widget-->

<!--Side Bar Widget-->
<script src="https://widget.reviews.co.uk/rich-snippet-reviews-widgets/dist.js"></script>
    
    <script>
    richSnippetReviewsWidgets('vertical-widget-720', {
        store: 'mortgagesnorthernireland-com',
        widgetName: 'vertical',
        primaryClr: '#f47e27',
        layout:'fullWidth',
        height: 500,
        numReviews: 10
    });
    </script>
<!--Side Bar Widget-->
</body>
</html
