<section class="footer">
  <div class="container-fluid">
      <div class="row footer-top-row">
          <div class="col-6 col-sm-3">
              <div class="footer-top-row-item">
                  First Time Buyer
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="footer-top-row-item">
                Moving Home
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="footer-top-row-item">
                  Re-mortgage
              </div>
          </div>
          <div class="col-6 col-sm-3">
              <div class="footer-top-row-item">
                  Buy to Let
              </div>
          </div>
      </div>
<div class="footer-main">
      <div class="row middle-top">
            <div class="col-md-5">
              <div class="warning">
                  Think carefully before securing other debts against your home. Your home or property may be repossessed if you do not keep up repayments on your mortgage.
              </div>
            </div>
            <div class="col-md-7">
                <div class="footer-service">
                      We're here to offer our customers excellent fee free mortgage advice. Our expert advisers will help you secure the best mortgage deal whether you're a first time buyer, remortgaging your home, buying to let or moving up the property ladder. We'll help you throughout the mortgage process – no hidden costs or surprises, just straightforward, honest, mortgage advice.
                </div>
           </div>
      </div>

      <div class="row footer-middle-icons">
          <div class="col-12">
            <div class="footer-middle-icons-item">
                  <i class="fab fa-facebook-f"></i>
            </div>
            <div class="footer-middle-icons-item">
                  <i class="fab fa-google-plus-g"></i>
            </div>
            <div class="footer-middle-icons-item">
                  <i class="fab fa-twitter"></i>
            </div>
            <div class="footer-middle-icons-item">
                  <i class="fab fa-linkedin-in"></i>
            </div>

            <p>Mortgages Northern Ireland is a trading style of DMC Financial Services LTD, registered in Northern Ireland at 67 Bridge Street, Portadown BT63 5AA ( number NI616674).
              <br><br>
               Mortgages Northern Ireland is a trading style of DMC Financial Services who is an Appointed Representative of PRIMIS Mortgage Network. PRIMIS Mortgage Network is a trading name of First Complete Ltd which is authorised and regulated by the Financial Conduct Authority for mortgages, protection insurance and general insurance products.</p>
          </div>
      </div>
</div>

  </div>
</section>


  <!-- Modal -->
  <div class="modal fade" id="modal-enquire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quick Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="">
              <div class="row">
                  <div class="col">
                      <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name">
                  </div>
                  <div class="col">
                      <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name">
                  </div>
                </div>
              <div class="row">
                <div class="col">
                    <label for="lastName">email address</label>
                    <input type="text" class="form-control" id="email" placeholder="Your email">                 
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label for="Contact Number">Contact Number</label>
                      <input type="text" class="form-control" id="email" placeholder="Contact Number">                 
                  </div>
                </div>
              <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea class="form-control" id="message" rows="6"></textarea>
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="modal-buttons-outter">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Send</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>  
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html