   <div class="nav">
    <div class="nav-top">
      <ul class="item-list">
          <li><a href="/mortgage-advice">Mortgage Advice</a></li>
          <li><a href="/mortgage-news">Mortgage News</a></li>
          <li><a href="/our-service"> Our Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/calculators">Mortgage Calculators</a></li>
          <li><a href="/contact-us">Contact us</a></li>
      </ul>

      <ul class="icon-list">
          <li> <a href="https://www.linkedin.com/company/30609170/admin/"><i class="fab fa-linkedin-in"></i></a></li>
          <li> <a href="https://www.facebook.com/Mortgagesnorthernireland-746723952330508"><i class="fab fa-facebook-f"></i></a> </li>
      </ul>

    </div>
    <div class="nav-middle">
      <div class="nav-middle-logo">
       <a href="/"><img src="/img/mortgagesLogoLong.png" alt=""></a> 
      </div>

        <div class="nav-middle-contact">
          <p class="slogan">Call Free from Landlines & Mobiles</p>
          <P class="number"><a onclick="return gtag_report_conversion('tel:08009756476');" id="contactNumber" href="tel:08009756476">0800 975 6476</a></P>
        </div>
    </div>
    <div class="nav-bottom">
       <ul>
           <li><a href="/first-time-buyer-mortgages">First Time buyer</a></li>
           <li><a href="/buy-to-let-mortgages">Buy to Let</a></li>
           <li><a href="/re-mortgage-advice">Re-mortgage</a></li>
           <li><a href="/self-build-mortgages">Self-Build</a></li>
           <li><a href="/self-employed-mortgages">Self-employed</a></li>
       </ul>
    </div>
</div>


<div class="nav-sm">
    <div class="nav-sm-logo-box">
     <a href="/"><img src="/img/mortgagesLogoLong.png" alt=""></a>
    </div>
    <div class="nav-sm-icon-box">
           <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
               <i class="fas fa-bars"></i>
           </a>

    </div>
</div>

<div class="collapse nav-sm-menu" id="collapseExample">
   <div class="nav-sm-menu-inner">
    <ul>
        <li> <a href="/contact-us">Contact us</a></li>
        <li> <a href="/first-time-buyer-mortgages">First Time buyer</a></li>
        <li><a href="/buy-to-let-mortgages">Buy to Let</a></li>
        <li><a href="/re-mortgage-advice">Re-mortgage</a></li>
        <li><a href="/self-build-mortgages">Self-Build</a></li>
        <li><a href="/self-employed-mortgages">Self-employed</a></li>
        <li><a href="/mortgage-advice">Mortgage Advice</a></li>
        <li><a href="/mortgage-news">Mortgage News</a></li>
        <li><a href="/our-service">Our Service</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/calculators">Mortgage Calculators</a></li>
    </ul>
   </div>
</div>
