//Contact us bar appears on scroll
.scrolling-footer{
    display: none;
}

.scrolling-footer-scrolled{
    display: block;
    position: sticky;
    position: -webkit-sticky;
    bottom:0;
    z-index: 10000000;

    @include media-breakpoint-up(sm){
        display: none;
    }
}

.scroll-contact{

    &-outter{
        position: relative;
        height: 5rem;
        background-color: $primary-purple-dark;

    }

    &-inner{
        position: relative;
        height: 3rem;
        top: 50%;
        transform: translateY(-50%);
        

        &-buttons{
            float: left;
        }

        &-icons{
            float: right;
            color: $color-white;
            
            &-text{
                font-size: 1.4rem;
                margin-right: .4rem;
            }

            & i{
                padding: 0rem .4rem;
                font-size: 1.5rem;
            }
        }
    }
}




.footer{
    position: relative;
    width: 100%;

    & .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }



    &-top-row{
        position: relative;
        background-color: $footer-dark;

        &-item{
         position: relative;
         text-align: center;
         top: 50%;
         transform: translateY(-50%);
         font-size: 1.2rem;
         font-weight: 500;
         color: $color-white;

         @include media-breakpoint-down(sm){
             font-size: 1rem;
         }

        }
    }

    &-main{
        background-color: $footer-light;
        padding-bottom: 2rem;
    }

    & .middle-top{
     padding-left: 5rem;
     padding-right: 5rem;
     padding-top: 2rem;

     @include media-breakpoint-down(sm){
      padding-top: .5rem;
      width: 100%;
      padding-left:1rem;
      padding-right:1rem;
      text-align: center;
     }

    }

    & .warning{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: $footer-dark;
        color: $color-white;
        padding: 1rem;
    }

    &-service{
        color: $color-white;
        padding-top: 1rem;
    }

    &-middle-icons{
        text-align: center;
        padding-top: 2rem;

        @include media-breakpoint-down(xs){
            padding-left: 1rem;
            padding-right: 1rem;
        }


        &-item{
            position: relative;
            width: 4rem;
            height:4rem;
            background-color: $footer-dark;
            display: inline-block;
            margin: .4rem;

            & i{
                position: relative;
                top: 50%;
                transform:translateY(-50%);
                font-size: 2rem;
                color: $color-white;

            }
        }

        & p{
            text-align: center;
            color: $color-white;
            padding-left: 6rem;
            padding-right: 6rem;
            padding-top: 3rem;

            @include media-breakpoint-down(xs){
                padding-left:1rem;
                padding-right: 1rem;
            }
        }
    }

}