<% include ./partials/head-tags %>
<% include ./partials/main-menu %>

<div class="section">
   <div class="container">
      <div id="carousel-widget"></div>
     <div class="row">  
       <div class="col">
         <h1>
           Our Privacy Policy
         </h1>
         
         <p><strong>Last Updated 17/07/2018</strong></p>
         
         <p class="text-justify">
         mortgageadviserni.co.uk is owned and operated by Mortgages Northern Ireland Ltd ("we/us").  We are committed to protecting and respecting your privacy.  This privacy policy explains what information we collect about you through our website and how we use that information and the procedures that we have in place to safeguard your privacy.
         </p>
         
         <h3 class="display-6">Website Visitors</h3>
         <h4 class="display-8">Cookies</h4>
         <p class="text-justify">
           This website uses cookies.  When we provide services, we want to make them easy, useful and reliable.  Where services are delivered on the internet, this sometimes involves placing small amounts of information on your device, for example, computer or mobile phone.  These include small files known as cookies. <a class="text-primary" href="/cookies">Click here</a> to see more information about the cookies we use on our website.
         </p>
         
         <h4 class="display-8">Statistical Information</h4>
         <p class="text-justify">
           We may use aggregate information and statistics for the purposes of monitoring website usage in order to help us develop mortgageadviserni.co.uk and our services and may provide such aggregate information to third parties.  These statistics (e.g. IP address, operating system and browser type) will not include information that can be used to identify any individual.
         </p>
         
         <h4 class="display-8">Third Party Links</h4>
         <p class="text-justify">
          mortgageadviserni.co.uk contains links to websites owned and operated by third parties.  If you follow a link to any of these websites, please note that they may have their own privacy policies and that we do not accept any responsibility or liability for these policies.  Please check these policies before you submit any personal data to these websites.
         </p>
         
         <h3 class="display-6">People who send an Enquiry to Our Website</h3>
         <p class="text-justify">
           If you choose to connect with a professional on our website by either sending an enquiry directly to a professional or using our match form, you will chose to provide us with personal information.

           <br><br>Where you input this information on behalf of a third party you must ensure that you have the authority and consent of the individual to whom the information you have chosen to provide belongs.

           <br><br>We store this information securely. We collect this information so we can find a professional who can help you with your enquiry. This is the service we provide and when you submit an enquiry we consider that we have a contractual obligation to provide this service. Where you input information on our website prior to submitting an enquiry we will treat such information as if you have submitted an enquiry and may use the information to contact you to enable you to complete your enquiry.

           <br><br>If the professional you choose to contact is unavailable, we will do our best to find another local professional who matches your search criteria, and this is all part of the service we offer to consumers who use our service. If a professional wishes to respond to your enquiry we will pass the above information on to them. Your information will not be shared with any other parties.

           <br><br>Whilst we require all professionals to comply with all laws and regulations, we do not have any control over or responsibility for how the professional uses the data you provide to them; however professionals are also subject to Data Protection Legislation and are responsible for protecting and using your data accordance with the Legislation.

           <br><br>You may choose to opt in to receive additional communications from us and whether you choose to do so will not affect the service we provide to you. If you choose to opt in, you can opt out of receiving these communications by using the relevant check boxes on the forms we use to collect your data, in your account, or clicking the unsubscribe link in emails.  You can also unsubscribe at any time by contacting info@mortgageadviserni.co.uk. 

           <br><br>We do not collect any credit card or other payment information from consumers.
         </p>
         
         <h3 class="display-6">Professionals who Subscribe to Our Website</h3>
         <h4 class="display-8">Information we may Collect</h4>
         <p class="text-justify">
            When you subscribe to a professional plan on mortgageadviserni.co.uk you are seeking to enter into a contractual agreement with us and all of the details you provide to us are deemed to be necessary to enable us to prepare for and subsequently fulfil our contractual obligations to you. We may ask for business information which may include personal details.

            <br><br>You will be entirely responsible for the content of your profile, as more fully set out in the Professional Terms of Use which govern the relationship between any subscriber and us. The Professional Terms of Use are available in full when you register. You may amend your profile by filling out and sending in an application ammendment form to info@mortgageadviserni.co.uk.
         </p>
         
         <h4 class="display-8">How we use the Information</h4>
         <p class="text-justify">
             We use information held about you in the following ways:
          <ul> 
             <li>  To carry out our obligations to you and to process your application effectively </li>
             <li>  To fulfil our obligations to you in accordance with the contractual terms that govern our relationship with you</li>
             <li> To ensure that content from our site is presented in the most effective manner for you and for your computer</li>
             <li> To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes</li>
             <li> To allow you to participate in interactive features of our service, when you choose to do so</li>
             <li> To notify you about changes to our service</li>
          </ul>
         </p>
         <p class="text-justify">
          We may also use aggregate information and statistics for the purposes of monitoring website usage in order to help us develop mortgageadviserni.co.uk and our services and may provide such aggregate information to third parties.  These statistics (e.g. IP address, operating system and browser type) will not include information that can be used to identify any individual.

          <br><br>As you are a professional subscriber, we will use your personal information to send you information about products and services of ours which we think may be of interest to you.  Where we use your information in this way we consider that we have a legitimate interest in using your information for this purpose having balanced the potential benefits to you, the nature of the personal information we will utilise (being largely in the public domain) and our own commercial interests. This may include contacting you by post, telephone and email.  Where you receive such information you may opt out at any time by contacting us at info@mortgageadviserni.co.uk, or by clicking the unsubscribe link in the emails.

          <br><br>From time to time you may have the opportunity to opt in to emails from quality brands we have selected to be partners.  You can unsubscribe from these emails at any time by contacting us at mortgageadviserni.co.uk, or by clicking the unsubscribe link in the emails. 
         </p>
       
       <h4 class="display-8">Provision of Services by Our group</h4>
       <p class="text-justify">
         Elements of the services we provide to you under any agreement between you and us or as a result of any consent received from you may be fulfilled by any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries.
       </p>
       
       <h4 class="display-8">Disclosure of the Information to Third Parties</h4>
       <p class="text-justify">
         <ul>
           <li>To take advantage of some parts of our Service you may be required to log in or register with us. We and any third parties who host or maintain our Service may need to collect information about you and your computer to enable you to do so. The information will be collected when you register with or log in to our Service.</li>
           <li>We will share your information if we are under a legal obligation to do so or otherwise as agreed in our terms of use.</li>
         </ul>
           </p>
     
     <h4 class="display-6">Subscriber's Public Information</h4>
     <p class="text-justify">
       Profile information submitted for display on the mortgageadviserni.co.uk website is information intended for the public domain and therefore cannot be classed as private.  By submitting your profile information to mortgageadviserni.co.uk, you give us unconditional permission to use this information regardless of any moral rights, copyright, service mark, trade mark or patent laws.  Further, you allow us to publish, modify, edit, translate, distribute and otherwise reproduce the information in whatever format we choose.
     </p>
     
     <h4 class="display-6">How we Store Your Information</h4>
     <p class="text-justify">
       We take your online security seriously, whether you are a consumer visiting our website or a professional advertising on our website.  Full details of how we protect the information you provide us are given below:
       <ul>
       <li>For consumers who send an enquiry on our website or register for an account, the secure server software encrypts all information you input.</li>
       <li>For professionals who subscribe to our services, when you register your profile and the details relating to it, the secure server software encrypts all information you input.</li>
       </ul>
         The transmission of information via the internet is not completely secure.  Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to or from our site; any transmission is at your own risk.  Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
         </p>
    <h3 class="display-6">Your Agreement</h3>
     <p class="text-justify">
       By subscribing or otherwise using mortgageadviserni.co.uk, you agree to your information being gathered and used in the ways described in this policy.
       <br><br>
       If we change our privacy policy we will post the changes on this page, and may place notices on other pages of our website, so that you may be aware of the information we collect and how we use it at all times.  Continued access to and use of the website will signify that you agree to any such changes.
     </p>
  
    <h3 class="display-6">Your Rights</h3>
      <p class="text-justify">  
        Under the Data Protection Laws, you have a number of important rights free of charge. In summary, those include rights to:
      </p>
      <ul>
        <li>access to your personal information and to certain other supplementary information that this Privacy Notice is already designed to address</li>
        <li>require us to correct any mistakes in your information which we hold</li>
        <li>require the erasure of personal information concerning you in certain situations</li>
        <li>receive the personal information concerning you which you have provided to us, in a structured, commonly used and machine-readable format and have the right to transmit those data to a third party in certain situations</li>
        <li>object at any time to processing of personal information concerning you for direct marketing</li>
        <li>object to decisions being taken by automated means which produce legal effects concerning you or similarly significantly affect you</li>
        <li>object in certain other situations to our continued processing of your personal information</li>
        <li>otherwise restrict our processing of your personal information in certain circumstances</li>
      </ul>
       <p class="text-justify">
        For further information on each of those rights, including the circumstances in which they apply contact the Information Commissioner’s Office.
         <br><br>
        If you would like to exercise any of those rights, please:
         <ul>
          <li>email, info@mortgageadviserni.co.uk</li>
          <li>let us have enough information to identify you eg your name, address and an order number,</li>
          <li>let us have proof of your identity and address (a copy of your driving licence or passport and a recent utility or credit card bill), and</li>
          <li>let us know the information to which your request relates</li>
         </ul>
       </p>

        <h4 class="display-8">Lodging a Complaint</h4>
        <p class="text-justify">
          We hope that we can resolve any query or concern you raise about our use of your information.
           <br><br>
          The Data Protection Laws also give you right to lodge a complaint with a supervisory authority. The supervisory authority in the UK is the Information Commissioner who may be contacted at ico.org.uk or telephone:  0303 123 1113.
        </p>

        <h3 class="display-6">How to Contact us</h3>
         <p class="text-justify">
           We welcome your views about this site and our privacy policy.  If you would like to contact us with any queries or comments please email info@mortgageadviserni.co.uk or write to:
             <br><br>
             Mortgages Northern Ireland LTD
             <br>
             Address Line 1
             <br>
             Address Line 2
             <br>             
             Postcode
        </p>

         <h3 class="display-6">Website Disclaimer</h3>
          <p class="text-justify">
             This website contains information on independent financial advisers, financial advisers, mortgage advisers who provide advice and services in the UK.  The information is directed only at persons in the UK.
             <br><br>
             Mortgages Nothern Ireland LTD, mortgageadviserni.co.uk and the owners of any other website through which this information can be obtained do not endorse or approve any of the independent financial advisers, financial advisers, mortgage advisers listed in the directory or any advice that they may provide.  While mortgageadviserni.co.uk undertakes a number of checks to ensure that information provided through its search is correct, it is your responsibility to satisfy yourself that the advertiser you see is appropriate for the business you are transacting and/or any service you are seeking.  Any decision to transact business with or take up the services of an subscriber is made by you on the basis of your own enquiries.
             <br><br>
             The materials contained in www.mortgageadviserni.co.uk are provided for general information purposes only and do not constitute professional advice.  Mortgages Northern Ireland LTD and mortgageadviserni.co.uk do not accept any responsibility for any loss, which may arise from reliance on information contained in this site and accept no responsibility for information provided by third parties as any links to third party sites are provided solely as a convenience to users and at your own risk.
             <br><br>
             Mortgages Northern Ireland Ltd and mortgageadviserni.co.uk give permission for the downloading, printing, and temporary storage of one or more of the documents or pages retained on this website for personal use or internal business use for the purpose of finding professional advisers for your business only, and for no other purpose.  The reproduction or transmission of the contents of this website is prohibited without the prior written consent of Mortgages Northern Ireland Ltd.
          </p>
         
         
         
         
   
         
         
         
         
       </div>
     </div>
    </div>
</div>







<% include ./partials/footer %>