.cusbutton-orange{
    padding: .5rem;
    background-color: $tertiary-orange-dark;
    color: $color-white;
    display: inline-block;
    border-radius: 8px;

}

.cusbutton-green{
    padding: .5rem;
    background-color: $tertiary-yellow-dark;
    color: $color-white;
    display: inline-block;
    border-radius: 8px;
    margin-right:1rem;

}