


$primary-purple: #9f31e8;
$primary-purple-dark: #2d0845;
$primary-purple-light: #ca8df2;
$primary-purple-dark-test: #420759;
$primary-purple-light-test:#4d1a72;


$secondary-blue: #53a2ff;
$secondary-blue-light: #B9D9FF;
$secondary-blue-dark: #006cec;

$tertiary-red: #ff5042;
$tertiary-red-light: #ff8f86;
$tertiary-red-dark: #fd1300;

$tertiary-orange: #e8a431;
$tertiary-orange-light: #efbf6e;
$tertiary-orange-dark: #cf8b17;


$tertiary-yellow: #ebff42;
$tertiary-yellow-light: #f0ff75;
$tertiary-yellow-dark: #96a800;

$footer-dark:#1f253d;
$footer-light:#293151;


$color-white: #ffffff;

$background-grey: rgba(245, 231, 231, 0.397);
$underline-grey: #DDD;
