h1 {
  width: 100%;
  text-align: center;
}

p{
  text-align: justify;
}

.secondAppInput{
  display: none;
}

.secondAppInputDisplay{
  display: block;

}

.youCouldBorrow{
  display: none;
}

.youCouldBorrowShow{
  display: block;
  
}
