<% include ../partials/heads %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>How much can I borrow ?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>
        Our mortgage borrowing calculator will give you an estimate of how much mortgage you can get, although this will vary greatly from lender to lender. Enter your income details below and hit the 'Calculate' button.
      <br> <br>
        If you are looking to borrow money to purchase a property, we strongly advise that you speak to our mortgage advisers to find a mortgage that matches your own situation.
      </p>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col">
          <h3>First Applicant</h3>
        </div>
      </div>
      <div class="row">
       <div class="col-6">
           <label for="firstIncome">Basic Salary Annual Gross</label>
         <input type="text" class="form-control" id="firstIncome">
       </div>
       <div class="col-6">
           <label for="firstBonus">Bonus Annual Gross</label>
         <input type="text" class="form-control" id="firstBonus">
       </div>
     </div>
      <div class="row">
        <div class="col">
          <div class="addSecondApp"><i class="fas fa-plus"></i> Add a second Applicant</div>
        </div>
      </div>

    <div class="secondAppInput" id="secondAppHidden">
      <div class="row">
          <div class="col">
            <h3>Second Applicant Income</h3>
          </div>
      </div>
      <div class="row">
       <div class="col-6">
           <label for="secondIncome">Basic Salary Annual Gross</label>
         <input type="text" class="form-control" id="secondIncome">
       </div>
       <div class="col-6">
           <label for="secondBonus">Bonus Annual Gross</label>
         <input type="text" class="form-control" id="secondBonus">
       </div>
     </div>
    </div>
     <div class="row">
       <div class="col">
         <button class="btn btn-success totalBorrow">Submit</button>
       </div>
     </div>


    <div id="maxBorrow" class="youCouldBorrow"> <p class="maxBorrowP">As a guide you could roughly Borrow up to </p>
                                                <p id="totLoan"></p>
                                                 <p class="maxBorrowP">Want to know more call <span><a href="tel:08009756476">0800 975 6476</a></span> <br> or <br> <a href="" class="btn btn-success" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a></p>

    </div>

    </div>
  </div>
</div>



<!--Calculators -->
<script src="/js/calculators-how-much-can-i-borrow.js"></script>

<% include ../partials/footer %>
