.contact-us-page-form{

    background-color: $primary-purple-dark;
    padding: 2rem;
    border-radius: 5px;
    & label{
        color: $color-white;

    }


}

.modal-body{

    & form{
        @include media-breakpoint-down(xs){
            width: 100%;
        }
    }

}

.contact-us{
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;

    & p{
        position: relative;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;



        & span{
            @include media-breakpoint-down(xs){
                display: block;
                width: 100%;
            }
        }

    }
}

.contact-us-head{
    text-align: center;
}