.contact-us-page-form{

    background-color: $primary-purple-dark;
    padding: 2rem;
    border-radius: 5px;
    & label{
        color: $color-white;

    }


}

.contact-us{
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;

    & p{
        position: relative;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

    }
}

.contact-us-head{
    text-align: center;
}