.guide{

    &-head{
        background-color: $primary-purple-light;
        color:$vibrant-purple;
        font-size: 1.8rem;

        & .in-this-guide{
            padding: 2rem;
            color: white;

            @media (max-width: 768px) {
                padding-left: 0rem;
                padding-right: 0rem;
                padding-top: 0rem;
              }
           
            & .key-point-head{
                font-weight: 500;
            }
        }
    }
}

.key-point{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;

    @media (max-width: 768px) {
        padding-left: .8rem;
        padding-right: .8rem;
        padding-top: .8rem;
      }

    & h3{
        color: $vibrant-purple;
    }

    & p{
        font-size: 1.1rem;
    }
}

.alt-color{
   background-color:  $background-grey
}
