<% include ../partials/head-tags %>
<!--To be used on larger screen up to 1250 px-->
<div class="menu">
    <div class="menu-top">
        <ul>
            <li>Mortgage Advice</li>
            <li>Mortgage News</li>
            <li>Our Service</li>
            <li>Privacy Policy</li>
            <li>Mortgage Calculators</li>
            <li>Contact us</li>
        </ul>
    </div>
    <div class="menu-mid">
        <div class="menu-mid-inner">
            <div class="menu-mid-inner-left">
                <img src="img/mortgagesLogoLongVibPurple.png" alt="">
            </div>
            <div class="menu-mid-inner-right">
                <div class="menu-mid-inner-right-contact">
                    <h4>Call free from landlines & mobiles</h4>
                    <p> <a href="tel:+8009756476">0800 975 6476</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-bottom">
        <ul>
            <li>First Time Buyer</li>
            <li>Buy to Let</li>
            <li>Re-mortgage</li>
            <li>Self-build</li>
            <li>Self-employed</li>
        </ul>
    </div>
</div>

<!--To be used on smaller screens below 1250px-->

<div class="sm-menu">
    <div class="sm-menu-logo-box">
        <img src="img/mortgagesLogoLongVibPurple.png" alt="">
    </div>
    <div class="sm-menu-contact-box">
        <i class="fas fa-phone-square"></i>
        <span>0800 975 6476</span>
    </div>
    <div class="sm-900-below-menu-icon-box">
        <a class="" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
            <i class="fas fa-bars"></i>
          </a>
        
    </div>
</div>

<!--To be used on smaller screens below 900px-->

<div class="sm-900-below-menu">
    <div class="sm-900-below-menu-logo-box">
        <img src="img/mortgagesLogoLongVibPurple.png" alt="">
    </div>
    <div class="sm-900-below-menu-icon-box">
        <a class="" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
            <i class="fas fa-bars"></i>
          </a>
        
    </div>
</div>
<div class="sm-900-below-menu-contact-box">
    <span class="contact-details">
        <i class="fas fa-phone-square"></i>
        <span>0800 975 6476</span>
    </span>
</div>



<!--Collapsing menu-->

<div class="collapse" id="collapseMenu">

    <div class="menu-topic">

       <div class="menu-topic-item">
            <div class="menu-topic-FTB menu-topic-listener">
                <a class="" data-toggle="collapse" href="#collapseMenuFTB" role="button" aria-expanded="false" aria-controls="collapseMenuFTB">
                <h6>First Time Buyers</h6> <span><i class="fas fa-plus-circle"></i></span>
                </a>
            </div>
            <div class="collapse" id="collapseMenuFTB">
                <div class="menu-topic-sub menu-topic-sub-FTB">
                    <div class="guides">
                    <h6>Guides</h6>
                     <ul>
                        <li>
                            <a href="/first-time-buyer-mortgages">
                                First Time Buyers
                            </a>
                        </li>
                        <li>
                            <a href="/first-time-buyer-mortgages/95-mortgages-for-first-time-buyers">
                                95% Mortgages
                            </a>
                        </li>
                        <li>
                            <a href="/first-time-buyer-mortgages/the-costs-of-buying-a-house">
                                The cost of Buying a Home
                            </a>
                        </li>
                        <li>
                            <a href="/first-time-buyer-mortgages/first-time-buyer-faq">
                                First Time Buyer FAQ
                            </a>
                        </li>
                        <li>
                            <a href="/government-schemes">
                                Government Schemes
                            </a>
                        </li>
                        <li>
                            <a href="/government-schemes/co-ownership-mortgages">
                                Co-Ownership
                            </a>
                        </li>
                        <li>
                            <a href="/government-schemes/right-to-buy-government-scheme">
                                Right to Buy
                            </a>
                        </li>
                        <li>
                            <a href="/government-schemes/help-to-buy-isas">
                                Help to Buy ISA's
                            </a>
                        </li>
                        <li>
                            <a href="/government-schemes/help-to-buy-government-scheme">
                                Help to Buy
                            </a>
                        </li>
                     </ul>
                        
                    </div>
                    <div class="tools">
                        <h6>Tools</h6>
                            <ul>
                                <li>
                                    <a href="/calculators">
                                    Mortgage Calculators
                                     </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
       </div>

    </div>

</div>


<% include ../partials/footer %>